body {
    width: 100%;

}

h2 {
    font-weight: 400;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    color: lightslategray;
}

h3 {
    font-weight: 300;
    font-size: 2rem;
    color: black;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.main_header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.main_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    height: 80px;
}

.logo {
    width: 100px;
    color: #fff;
}

li {
    display: inline-block;
    margin-left: 32px;
    color: rgba(255,255,255,0.8);
}

.top-section {
    width: 100%;
    height: auto;
background-image: linear-gradient(-135deg, #B9A6FE 0%, #7960FF 100%);
}

.max-width {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.content-section {
    height:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section h1 {
    margin-top: 10%;
    font-weight: 900;
    font-size: 4rem;
    color: white;
    margin-bottom: 70px;
    padding: 0 10%;
}

.main-cta {
    padding: 20px 32px;
    color: white;
    background: #3ee3fa;
    border: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
     outline: none;
}

.laptop {
    position: relative;
    top: 75px;
}

.second-section {
    height: 850px;
}

.header-margin {
    margin-top: 10%;
}

.header-margin h3 {
    margin-top: 20px;
}

.feature-grid {
    margin: auto;
    width: 80%;
    margin-top: 100px;
}

.feature-grid-box {
    display: inline-block;
    width: 300px;
    height: 250px;
    background: gray;
    margin: 30px 50px 0 0;
}

.view-all-button {
    margin: 5%;
}

.third-section {
    width: 100%;
    height: auto;
background-image: linear-gradient(-135deg, #B9A6FE 0%, #7960FF 100%);
}

.header-margin-third {
    margin-top: 5%;
}

.header-margin-third h2 {
    color: white;
}

.header-margin-third h3 {
    color: white;
    margin-top: 20px;
}

.testimonial-grid-box {
    display: inline-block;
    width: 350px;
    height: 300px;
    background: gray;
    margin: 30px 50px 10% 0;
}

.fourth-section {
    width: 100%;
}

.header-margin-fourth {
    margin: 5%;
}

.header-margin-fourth h3 {
    margin-top: 20px;
}

.about-app {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-app-text {
    text-align: left;
    margin-right: 30px;
    margin-left: 8%;
}

.paragraph-header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-app-image {
    width: 730px;;
    display: inline-block;
    height: 630px;
}

.more-new-app {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-new-app-image {
    display: inline-block;
    height: 600px;
    width: 60%;
    margin-top: 5%;
}

.more-new-app-text {
    width: 40%;
    text-align: left;
    margin-left: 30px;
    margin-right: 8%;
}

.signup-section {
    margin-top: 5%;
    width: 100%;
}

.get-started-header h3 {
    margin-top: 20px;
}

.signup-button {
    margin: 2% 0 5% 0;
}

.bottom-section {
    width: 100%;
background-image: linear-gradient(-135deg, #B9A6FE 0%, #7960FF 100%);
    
}

.users-and-counting h3 {
    color: white;
    margin-top: 5%;
}

.counter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.number-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0.3;
    height: 150px;
    width: 110px;
    border-radius: 5%;
}

.number-one {
    margin-right: 2%;
}

.numbers {
    font-size: 60px;
    color: black;
}

.number-four {
    margin-right: 2%;
}

.number-margin {
    margin-right: 2px;
}

.find-yours {
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.subscribe-container {
     margin-bottom: 5%;
     height: 56px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.subscribe-textbox {
    width: 400px;
    height: 100%;
    /*margin-bottom: 5%;*/
}

.subscribe-button {
    height: calc(100% + 6px);
    margin-left: 10px;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    background: white;
    opacity: 0.3;
    margin-bottom: 5%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    color: lightslategray;
    text-transform: uppercase;
}

.copyright {
    width: 100%;
    margin-left: 5%;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
}

.footer-link-padding {
    padding-right: 50px;
} 